/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main Content */
main {
    padding: 20px;
    background: #f4f4f4;
}

h1, h2 {
    color: #333;
}

.about-us, .our-mission, .team {
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Team Section */
.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.names1{
padding-bottom: 60px;
}
.para21{
    padding-left: 25px;
    padding-top: 0px;
    font-size: 18px;
    font-style:initial;
}


.team-member h3 {
    margin: 0;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 10px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}